.homepage-container {
    text-align: center;
    margin-top: 20px;
}

.image-container {
    position: relative; /* Necesario para que el botón se posicione relativo a este contenedor */
    display: inline-block;
}

.homepage-image {
    width: 150%;
    max-width: 1800px;
    display: block;
}

.button-container {
    position: absolute; /* Permite posicionar el botón sobre la imagen */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para que el centro del botón coincida con el centro de la imagen */
    z-index: 10;
}

.btn {
    background-color: #585e70;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333442;
}
