.products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.products #products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
}

.products #products-list .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    height: 400px;
}

.products #products-list .product img {
    width: 170%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.products #products-list .product span {
    text-align: center;
    font-size: 14px;
    color: #222020;
    background-color: #9c9999;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.products #products-list .product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
