.products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.products #products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 100%;
}

.products #products-list .product {
    display: grid;
    gap: 1rem;
    justify-items: center;
    cursor: pointer;
    height: fit-content;
}

.products #products-list .product img {
    width: 100%;
}
.products #products-list .product span {
    height: fit-content;
}
