.product-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.product-info img {
    max-width: min(100%, 500px);
}
