body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.signup {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


.signup h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}


.signup input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}


.signup input:focus {
    border-color: #2b3942;
    outline: none;
}

/* Estilo del botón */
.signup button {
    background-color: #374046;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}


.signup button:hover {
    background-color: #23282c;
}


.signup input:invalid {
    border-color: red;
}

.signup input::placeholder {
    color: #888;
}
